@{
    ViewData["Title"] = "Đặt lại mật khẩu";
}
<h2>Đặt lại mật khẩu</h2>

<form asp-action="ResetPassword" method="post">
    <input type="hidden" name="email" value="@ViewBag.Email" />
    <input type="hidden" name="token" value="@ViewBag.Token" />

    <div class="form-group">
        <label>Mật khẩu mới</label>
        <input type="password" name="newPassword" class="form-control" required />
    </div>

    <button type="submit" class="btn btn-success">Đặt lại mật khẩu</button>
</form>
